{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}

  <div class="content">
    {{ range .Data.Pages }}
    <div class="post">
      <h1 class="display post-title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h1>

      <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

      {{ .Content }}
    </div>

    {{ partial "footer.html" . }}

    {{ end }}
  </div>
</body>
</html>
